body {
    font-family: Inconsolata, "Courier New", monospace;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #eee8d5;
}
input {
    font-family: Inconsolata, "Courier New", monospace;
    font-size: 16px;
    background-color: #fdf6e3;
    border:1px solid #93a1a1;
    padding: 10px;
    margin-left: 10px;
}
div#chat_input {
    display:flex;
    flex-direction: row;
    margin-top: 10px;
}
input#chat_input {
    flex: 1;
}
div#chat_name {
    padding-top: 10px;
}
div#error {
    color: #F92672;
}
span#err_span {
    margin-left: 10px;
}

div#chat {
    height: 100px;
    overflow-y: auto;
    border:1px solid #93a1a1;
    background-color: #fdf6e3;
    padding: 10px;
}
div#chat_col {
    display: flex;
    flex-direction: column;
}
#chat span {
    margin-left: 5px;
}

p.msg {
    margin-top: 2px;
    margin-bottom: 2px;
}

form button {
    padding: 10px 20px;
    font-family: Inconsolata, "Courier New", monospace;
    font-size: 16px;
    background-color: #fdf6e3;
    border:1px solid #93a1a1;
    border-radius: 15px
}

form:invalid button {
    color: #93a1a1;
    background-color: #eee8d5;
}

div#game {
    display: grid;
    column-gap: 20px;
}

table#scores {
    width: 100%;
    margin-bottom: 20px;
}
th {
    border-bottom: 1px solid #000;
}

svg#game {
    width: calc(100% - 2px); /* accounts for border */
    margin-bottom: 20px;
    background-color: #fdf6e3;
    border:1px solid #93a1a1;
}

@media only screen and (min-width: 600px) {
    div#game {
        grid-template-columns: 2fr 1fr;
    }
    div#chat_col{
        grid-column: 1 / span 2;
    }
}

@media only screen and (min-width: 1000px) {
    div#game {
        grid-template-columns: 2fr 1fr 1fr;
    }
    div#chat {
        display:flex;
        flex-direction: column;
        flex: 1;
    }
    div#chat_col{
        grid-column: 3;
    }
}
