:root {
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

body {
    font-family: Inconsolata, "Courier New", monospace;
    font-size: 16px;
    color: var(--base01);
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--base2);
}
input {
    font-family: Inconsolata, "Courier New", monospace;
    font-size: 16px;
    background-color: var(--base3);
    border:1px solid var(--base1);
    padding: 10px;
    margin-left: 10px;
}

/*  Shows an error if you connect to an invalid room */
div#error {
    color: var(--red);
}
span#err_span {
    margin-left: 10px;
}

/*  Welcome to... the chat zone */
div#chat_input {
    display:flex;
    flex-direction: row;
    margin-top: 10px;
}
input#chat_input {
    min-width: 0px;
    flex: 1;
}
div#chat_name {
    padding-top: 10px;
}
div#chat {
    height: 100px;
    overflow-y: auto;
    border:1px solid var(--base1);
    background-color: var(--base3);
    padding: 10px;
}
div#chat_col {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}
#chat span {
    margin-left: 5px;
}
p.msg {
    margin-top: 2px;
    margin-bottom: 2px;
}

/*  Button to join the game */
button {
    background-color: var(--base3);
    border:1px solid var(--base1);
    border-radius: 5px;
    transition: border-radius 0.1s;
}

form button {
    border-radius: 5px
    transition: border-radius 0.1s;
    padding: 10px 20px;
    font-family: Inconsolata, "Courier New", monospace;
    font-size: 16px;
}

form:invalid button {
    color: var(--base1);
    background-color: var(--base2);
}

form:not(:invalid) button:hover {
    border-radius: 15px;
}

/*  Main game div */
div#game {
    display: grid;
    column-gap: 20px;
}

/* List of players */
table#scores {
    width: 100%;
    margin-bottom: 20px;
}
th {
    border-bottom: 1px solid var(--base00);
}
tr.player-row i {
    visibility: hidden;
}
tr.player-row.active i {
    visibility: visible;
}
tr.disconnected {
    color: var(--base1);
}

/*  Tiles on the board */
g.placed rect.tile {
    fill: var(--base2);
    stroke-width: 0.5;
    stroke: var(--base1);
}
svg#game.nyt g.piece rect.tile {
    fill: var(--base2);
}
g.piece rect.tile {
    fill: var(--base02);
    stroke-width: 0.5;
    stroke: var(--base00);
}
svg#game.nyt g.piece {
    pointer-events: none;
}
g.piece {
    pointer-events: auto;
}
rect.shadow {
    fill: var(--base2);
    stroke-width: 0.5;
    stroke: var(--base1);
}
rect.transparent {
    fill: none;
    pointer-events: all;
}
.shape-orange {
    fill: var(--orange);
}
.shape-yellow {
    fill: var(--yellow);
}
.shape-green {
    fill: var(--green);
}
.shape-red {
    fill: var(--red);
}
.shape-blue {
    fill: var(--blue);
}
.shape-purple {
    fill: var(--violet);
}

/*  Buttons to submit your play */
button.gameplay {
    color: var(--base02);
    position: absolute;
    height: 10%;
    width: 10%;
    font-size: 4vw;
}
button.gameplay:disabled {
    color: var(--base1);
    background-color: var(--base2);
    pointer-events: none;
}
button.gameplay:hover {
    border-radius: 15px;
}
button#reject_button {
    left: 100%;
    top: 100%;
    transform: translateY(-101%) translateX(-101%);
}
button#accept_button {
    left: 100%;
    top: 100%;
    transform: translateY(-101%) translateX(-211%);
}

/*  This is only used for layout things */
svg#dummy {
    width: 100%;
    pointer-events: none;
}

/*  Main game board */
svg#game {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    pointer-events: none;
}

/*  Background divs to create nice sharp rectangles */
div.background {
    position: absolute;
    border:1px solid var(--base1);
    background-color: var(--base3);
}
div#hand {
    left: 0px;
    top: calc(100% + 1px);
    transform: translateY(-101%);
    width: calc(47.5% - 2px);
    height: 10%;
}
div#board {
    left: 0px;
    top: 0px;
    width: calc(100% - 3px);
    height: calc(87.5% - 2px);
}

div#svg {
    margin-bottom: 10px;
    position: relative;
}

/* Two-column layout */
@media only screen and (min-width: 600px) {
    div#game {
        grid-template-columns: 2fr 1fr;
    }
    div#chat_col{
        grid-column: 1 / span 2;
    }
    button.gameplay {
        font-size: 3vw;
    }
}

/* Three-column layout */
@media only screen and (min-width: 1000px) {
    div#svg {
        margin-bottom: 0px;
    }
    button.gameplay {
        font-size: 2vw;
    }
    div#game {
        grid-template-columns: 2fr 1fr 1fr;
    }
    div#chat {
        display:flex;
        flex-direction: column;
        flex: 1 0 auto;
    }
    div#chat_col{
        grid-column: 3;
    }
}
